<footer class="footer">
    <div class="container clearfix">
        <div class="fl">
            <ul class="c999 clearfix">
                <li>
                    <a href="__APP__/index.html">首页</a>
                </li>
                <li>
                    <a href="__APP__/options.html">期权服务</a>
                </li>
                <li>
                    <a href="__APP__/plan.html">e计划</a>
                </li>
                <li>
                    <a href="__APP__/about.html">关于我们</a>
                </li>
                <li>
                    <a href="__APP__/agent.html">代理合作</a>
                </li>
            </ul>
            <div class="message">
                <p>
                    <img src="__HIMG__/x1.png">{$company.tel}</p>
                <p>
                    <img src="__HIMG__/x2.png">{$company.address}</p>
                <p>
                    <a href="">鲁ICP备1466332号</a>
                </p>
            </div>
        </div>
        <div class="fr c999">
            <img src="__UPLOAD__/{$qrcode.code_img}">
            <p>扫一扫关注微信公众号</p>
        </div>
    </div>
</footer>