<header class="header">
    <div class="top cw">
        <div class="container clearfix">
            <div class="fl">客服电话：{$company.tel}</div>
            <div class="fr">
                <a href="__APP__/about/6.html#a">联系我们</a>
                <span class="ib"></span>
                <a href="__APP__/agent.html">代理合作</a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container clearfix">
            <div class="fl">
                <a href="">
                    <img src="__HIMG__/logo.png">
                    <span class="ib"></span>
                    <p class="ib">您贴身的期权管家</p>
                </a>
            </div>
            <div class="fr tac">
                <ul class="clearfix">
                    <li class="{$current == 'Index_index' ? 'act' : ''}">
                        <a href="__APP__/index.html">首页</a>
                    </li>
                    <li class="{$current == 'Options_index' ? 'act' : ''}">
                        <a href="__APP__/options.html">期权服务</a>
                    </li>
                    <li class="{$current == 'Plan_index' ? 'act' : ''}">
                        <a href="__APP__/plan.html">e计划</a>
                    </li>
                    <li class="{$current == 'About_index' ? 'act' : ''}">
                        <a href="__APP__/about.html#a">关于我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>